.std-table-style td,
.std-table-style th {
  text-align: center;
  vertical-align: middle;
}
.std-table-style td:nth-child(1) {
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
}

.std-table-style th:nth-child(1) {
  vertical-align: middle;
  font-weight: bold;
}